* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

textarea,
input,
button {
    outline: none; }

.container {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
    .container {
        width: 970px; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container {
        width: 100%; } }

html {
    font-size: 0.875em; }

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.45; }

p {
    margin-bottom: 1.3em; }

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2; }

h1 {
    margin-top: 0;
    font-size: 2.441em; }

h2 {
    font-size: 1.953em; }

h3 {
    font-size: 1.563em; }

h4 {
    font-size: 1.25em; }

small,
.font_small {
    font-size: 0.8em; }

div.success,
p.success,
div.error,
p.error {
    background-color: #edfccc;
    border: 1px solid #87bf0a;
    font-size: 0.8em;
    padding: 7.5px;
    color: #87bf0a;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

div.error,
p.error {
    background-color: #fde1dc;
    border-color: #e82c0c;
    color: #e82c0c; }

html {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%; }

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    color: #333;
    background-color: #fafafa;
    padding-top: 100px; }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100px;
    font-size: 15px;
    background-color: #2c2f34;
    z-index: 1000; }
.header .container {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.header .container img {
    display: block;
    width: 130px;
    height: auto;
    margin: 0 0 10px; }
.header .container h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.35;
    color: #fff; }
.header .container h2 span {
    color: #5ccaad; }

.videos {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #172335;
    position: relative;
    z-index: 1; }
.videos #chatEnded {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease; }
.videos #chatEnded p {
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #16bcc7; }
.videos .loader {
    width: 190px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
.videos .loader span {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 3px;
    opacity: 0; }
.videos .loader span:nth-child(1) {
    -webkit-animation: opacitychange 1s ease-in-out infinite;
    animation: opacitychange 1s ease-in-out infinite; }
.videos .loader span:nth-child(2) {
    -webkit-animation: opacitychange 1s ease-in-out 0.2s infinite;
    animation: opacitychange 1s ease-in-out 0.2s infinite; }
.videos .loader span:nth-child(3) {
    -webkit-animation: opacitychange 1s ease-in-out 0.4s infinite;
    animation: opacitychange 1s ease-in-out 0.4s infinite; }
.videos .loader span:nth-child(4) {
    -webkit-animation: opacitychange 1s ease-in-out 0.6s infinite;
    animation: opacitychange 1s ease-in-out 0.6s infinite; }
.videos .loader span:nth-child(5) {
    -webkit-animation: opacitychange 1s ease-in-out 0.8s infinite;
    animation: opacitychange 1s ease-in-out 0.8s infinite; }
.videos .loader p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #16bcc7; }
.videos #remoteVideo {
    display: block;
    width: 100%;
    height: auto;
    min-height: 400px;
    -o-object-fit: cover;
    object-fit: cover; }
.videos #localVideo {
    display: block;
    width: 80px;
    height: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3; }

#leave-chat-btn {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    outline: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

@-webkit-keyframes opacitychange {
    0%, 100% {
        opacity: 0; }
    60% {
        opacity: 1; } }

@keyframes opacitychange {
    0%, 100% {
        opacity: 0; }
    60% {
        opacity: 1; } }

@media only screen and (max-width: 768px) {
    .videos #remoteVideo {
        height: -webkit-calc(100vh - 100px);
        height: calc(100vh - 100px); }
    #leave-chat-btn {
        left: -webkit-calc((100% - 90px)/2);
        left: calc((100% - 90px)/2); } }

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50px;
    border-top: 1px solid #e8e8e8;
    background-color: #fff; }
.footer .container {
    height: 100%;
    line-height: 50px; }
